.text-center {
  font-family: Bona Nova SC, Arial, Helvetica, sans-serif;
  color: rgb(75, 22, 76);
  padding-top: 20px; /* Extra space for visibility */
  text-align: center;
}

.gallery {
  margin-top: 40px; /* Increased margin for better spacing */
  height: auto; /* Changed from 90vh to auto */
  border: 8px solid rgb(75, 22, 76);
  border-radius: 4px;
}

.gallery .carousel {
  height: auto; /* Fixing height issue */
}

.gallery .carousel img {
  height: 500px; /* Uniform image size */
  object-fit: contain;
  width: 100%;
  background-color: rgb(255, 255, 255);
  transition: transform 0.5s ease-in-out; /* Add transition for smooth effect */
}

.carousel-indicators {
  border-radius: 90px;
  position: absolute;
  right: 0;
  bottom: 5%; /* Adjusted for better alignment */
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 auto;
  background-color: #a320bd28;
}

.carousel-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  transition: transform 0.5s ease-in-out; /* Add transition for smooth effect */
}
