/* src/styles/CTA.css */
.cta-section {
    background-color: rgb(75, 22, 76);
    color: rgb(221, 136, 207);
    text-align: center;
    padding: 2rem 0;
  }
  
  .cta-heading {
    color: rgb(221, 136, 207);
  }
  
  .cta-text {
    color: rgb(245, 245, 245);
  }
  
  .cta-button {
    background-color: rgb(221, 136, 207);
    border-color: rgb(221, 136, 207);
    color: rgb(245, 245, 245);
  }
  