  #faqs h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  #faqs{
    width: 100vw;
    max-width: 100vw;
  }
  #faqs .accordion {
    max-width: 800px;
    margin: 0 auto; }
  

  #faqs .accordion-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    background: white;
  }
  

  #faqs .accordion-button {
    font-size: large;
    font-family: "Poppins", IBM Plex Sans Condensed Static;
    font-weight: bold;
    background: rgb(221, 136, 207);
    color: white;
    padding: 12px;
    border-radius: 5px 5px 0 0;
  }
  
  #faqs .accordion-button:hover {
    background: rgb(75, 22, 76);
  }
  
  
  #faqs .accordion-button:not(.collapsed) {
    background: rgb(75, 22, 76);
  }
  
  #faqs .accordion-body {
    background: #fff;
    font-size: 16px;
    color: #333;
    padding: 15px;
  }
  